<footer class="pad">
    <div class="top-sec">
        <div class="title">
            <h3>The most useful articles, tips, and analysis for truckers. Twice a month.</h3>
            <form id="newLetterForm" class="wrapper-form">
                <input type="text" placeholder="Email Address" name="email" [(ngModel)]="email">
                <button type="submit" [disabled]="loader" (click)="subscribe()">Subscribe <div class="loader1" *ngIf="loader"></div> </button>
            </form>
        </div>
    </div>

    <div class="middle-sec">
        <div class="wrapper">
            <ul (click)="scroll()">
                <li style="margin-bottom: 1.5rem;">Links</li>
                <li routerLink="/careers" >About Us</li>
                <li routerLink="/contact-us" >Contact Us</li>
                <li routerLink="/services/truck-dispatching" >Service & pricing</li>
                <li routerLink="/truck-type/dry-van" >Truck Types</li>
            </ul>
            <ul (click)="scroll()">
                <li style="margin-top: 3.5rem;" routerLink="/FAQ">FAQ</li>
                <li routerLink="/how-to-start">How to start</li>
                <li routerLink="/testimonials">Testimonials</li>
            </ul>
            <ul (click)="scroll()">
                <li style="margin-bottom: 1.5rem;">Contacts</li>
                <li><i class="fa-solid fa-phone"></i><a class="ms-2" href="tel:(406)-4058608">(406)-4058608</a></li>
                <li><i class="fa-solid fa-envelope"></i><a class="ms-2" href="mailto:info@hawkeyefreights.com">info@hawkeyefreights.com</a></li>
                <li><i class="fa-solid fa-location-dot"></i><a class="ms-2">1001 S MAIN ST STE 500 KALISPELL, MT 59901</a></li>
            </ul>
        </div>
    </div>

    <div class="bottom-sec">
        <p>&copy; {{date}} Hawkeye. All Rights Reserved </p>
    </div>

</footer>