<section class="hero">
  <div class="row">
      <video src="/assets/hero-video.mp4" [autoplay]="true" [loop]="true" [muted]="true" playsinline [preload]="true"></video>
      
      <div class="content pad">
            <div class="text" data-aos="zoom-in">
                <p class="title">Freight <br>Dispatch <br> Service</p>
                <a href="tel:+1302123456" class="phone-number btn">(406)-4058608</a>
            </div>
            <app-form></app-form>
       </div>
  </div>

</section>



<section class="services pad">
    <span class="d-flex justify-content-between heading">
        <h2 class="before" data-aos="fade-right">Services <br/> and pricing</h2>        
        <a data-aos="fade-left">From 5% <br/> of gross</a>
    </span>

    <div class="row service-container" >
        <div class="col-sm-6" *ngFor="let item of services">
            <div class="service-card" data-aos="slide-up" [routerLink]="item.link">
                <span class="wrapper">
                    <p class="service-count">{{item.count}}</p>
                    <span class="text" [innerHTML]="item.innerText"></span>
                </span>
                <span class="plus"> + </span>
                <span class="plus1"> > </span>
                <img [src]="item.imgSrc" alt="">
            </div>
        </div>
    </div>
  
</section>




<section class="count-section pad">
    <span class="heading">
        <h2 class="before" data-aos="fade-right"> To work <br/> not talk</h2>        
    </span>

    <div class="d-flex justify-content-center flex-wrap">
        <div class="wrapper text-white">
            <i class="fa-solid fa-car"></i>
            <span class="d-flex align-items-center">
                <p class="count-num" [countUp]="count1" [duration]="duration"></p>
                <span>+</span>
            </span>
            <p class="count-text">Loads Booked</p>
        </div>
        <div class="wrapper text-white">
            <i class="fa-solid fa-house"></i>
            <span class="d-flex align-items-center">
                <span>$</span>
                <p class="count-num" [countUp]="count2" [duration]="duration2"></p>
                <span>+</span>
            </span>
            <p class="count-text">Average Gross Revenue</p>
        </div>
        <div class="wrapper text-white">
            <i class="fa-solid fa-book"></i>
            <p class="count-num" [countUp]="count3" [duration]="duration"></p>
            <p class="count-text">Mln Lbs Dispatched</p>
        </div>
    </div>
</section>



<section class="getStart-section pad">
    <span class="d-flex justify-content-between heading">
        <h2 class="before" data-aos="fade-right"> How to Get Started</h2>        
        <a data-aos="fade-left">Read more &nbsp;&nbsp;+</a>
    </span>

    <div class="row">
        <div class="col-lg-7 content" data-aos="fade-right">
            <p>Hawkeye Dispatch's job is to provide the best loads in the market for every driver. Our expert team ensures that drivers from any region and state get high-quality and best-paying loads.</p>
            <hr>
            
            <ul class="p-0">
                <li routerLink="/contact-us"><span>01- Fill out the form or call us: (406)-4058608</span> <span>></span></li>
                <li routerLink="/how-to-start"><span>02- Upload your MC Authority, W9 Form, and Certificate of Insurance</span> <span>></span></li>
                <li routerLink="/how-to-start"><span>03- Sign the Dispatch Agreement completed by our team</span> <span>></span></li>
                <li routerLink="/how-to-start"><span>04- We are all set. Let’s get to work</span> <span>></span></li>
            </ul>
        </div>
        
        <div class="col-lg-5" data-aos="fade-left">
            <app-form style="width: 100%;"></app-form>
        </div>
    </div>
</section>



<section class="work-with-us pad">
    <span class="heading">
        <h2 class="before" data-aos="fade-right"> Who can <br> work with us</h2>
    </span>

    <div class="wrapper">
        <div class="box" *ngFor="let item of workWithUs" data-aos="slide-up" [routerLink]="item.link">
            <img [src]="item.imgSrc" [alt]="item.text">
            <div class="overlay"></div>
            <a>{{item.text}} <span>></span> </a>
        </div>
    </div>

</section>



<section class="testimonials pad">
    <span class="d-flex justify-content-between heading">
        <h2 class="before" data-aos="fade-right">Testimonials</h2>        
        <a routerLink="/testimonials" data-aos="fade-left">Testimonials &nbsp;&nbsp;+</a>
    </span>


    <div class="wrapper">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="wrap">
                    <div class="img" >
                        <img src="assets/testimonials.jpg" alt="">
                    </div>
                    <div class="txt">
                        <h1>Jay Sanders</h1>
                        <h3>MC # 104970</h3>
                        <p>Place my trucking business in Hawkeye Freights & Dispatch's hands and haven't needed another dispatcher since. Outstanding Communication, very knowledgeable of the business, and they don't break the bank on percentage. Worth way more than other companies charging 10+ percent. Thank you, guys.</p>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="wrap">
                    <div class="img">
                        <img src="assets/testimonials.jpg" alt="">
                    </div>
                    <div class="txt">
                        <h1>Sam Jose</h1>
                        <h3>MC# 717422</h3>
                        <p>Working with Hawkeye Freights & Dispatch has been a game-changer for our trucking business. Their personalized approach, attention to detail, and commitment to excellence have truly set them apart in the industry. The team at Hawkeye goes above and beyond to ensure our trucks are matched with the right loads, keeping our operations running smoothly and efficiently.</p>
                    </div>
                </div>
            </div>
            
        </div>

        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only text-dark">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only text-dark">Next</span>
        </a>
        </div>
    </div>

</section>